cached-property==1.5.1
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
Django==2.2.2
django-jet==1.0.8
Flask==1.1.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
PyMySQL==0.9.3
pytz==2020.1
PyYAML==5.1.2
requests==2.22.0
sqlparse==0.3.1
urllib3==1.25.9
Werkzeug==1.0.1
